body {
    margin: 0;
    background: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loading {
    text-align: center;
    animation: hideLoader 0.6s ease forwards;
    animation-delay: 2.8s; /* thời gian hamster chạy */
}

@keyframes hideLoader {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.loading-text {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

/* ----------- HAMSTER CSS ----------- */

.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div {
  position: absolute;
}

.wheel {
  width: 100%;
  height: 100%;
  border: 0.5em solid #666;
  border-radius: 50%;
  box-sizing: border-box;
}

.spoke {
  width: 0.6em;
  height: 100%;
  background: #666;
  left: calc(50% - 0.3em);
  animation: spoke var(--dur) linear infinite;
}

@keyframes spoke {
  to { transform: rotate(360deg); }
}

.hamster {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hamster__body {
  width: 6em;
  height: 3.75em;
  background: #d6a372;
  border-radius: 4em 4em 3em 3em;
  position: relative;
  animation: hamsterRun var(--dur) linear infinite;
}

@keyframes hamsterRun {
  to { transform: rotate(-360deg); }
}

.hamster__head {
  width: 2.75em;
  height: 2.5em;
  background: #d6a372;
  border-radius: 3em;
  position: absolute;
  top: -0.4em;
  left: 3.5em;
}

.hamster__ear {
  width: 0.75em;
  height: 0.75em;
  background: #fdd;
  border-radius: 50%;
  position: absolute;
  top: -0.25em;
  right: 0.25em;
}

.hamster__eye {
  width: 0.4em;
  height: 0.4em;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 1em;
  left: 2em;
}

.hamster__nose {
  width: 0.3em;
  height: 0.3em;
  background: pink;
  border-radius: 50%;
  position: absolute;
  top: 1.4em;
  left: 2.5em;
}

.hamster__limb { 
    width: 1em; 
    height: 1.5em; 
    background: #d6a372; 
    border-radius: 1em;
}

.hamster__tail { 
    width: 1em; 
    height: 1em; 
    background: #d6a372; 
    border-radius: 50%;
    position: absolute; 
    bottom: -0.2em; 
    left: 0.3em;
}
